*.pth

# macOS dir files
.DS_Store

# Visual Studio Code files
/.vscode/*
.vs
!/.vscode/extensions.json
!/.vscode/settings_recommended.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*/*.pyc
*/**/__pycache__
*/**/*.py[cod]
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc

# Unit test / coverage reports
.cache

# pyenv
.python-version

# Environments
.env

# General
wandb
data
plots/

*.err
*.out